img {
  height: auto;
  width: 29vw;
  max-width: 350px;
}

body {
  padding: 0;
  margin: 0;
  display:grid;
  grid-template-rows: 20vh 100%;
  grid-template-columns: 200px 1fr;
  overflow: auto;
}

html {
  padding: 0;
}

header {
  position: sticky;
  margin: 0;
  top: 0;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-column: 1 / span 3;
  background-image: url('assets/headBack.png');
  background-position: center center;
  background-size: cover;
}

h1 {
  margin: 0;
  text-align: center;
  font-family: 'Luckiest Guy', cursive;
  color:yellow;
  text-shadow: 0 0 15px blue, 0 0 15px blue;
}

nav {
  background-color: blue;
  position: fixed;
  top: 20vh;
  height: 80vh;
  width: 200px;
}

main {
  grid-column: 2/ span 3;
  background-image: url('assets/pokeBack2.png');
  background-size: cover;
  background-attachment: fixed;
  min-height: 60vh;
  display: grid;
  grid-template-columns: 29vw 50vw;
  grid-gap: 35px;
  justify-items: center;
  align-items: center;
}

form {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  height: 80vh;
  justify-items: center;
  align-items: center;
}

a {
  text-decoration: none;
}

#pokemon {
  outline: none;
  border: none;
  height: 30px;
  width: 140px;
  font-family: 'Press Start 2P', cursive;
  box-shadow:0 0 40px 40px #ff0000 inset, 0 0 0 0 #ff0000;
  transition: all 250ms ease-in-out;
}

#pokemon:hover {
  box-shadow: 0 0 10px 0 #ff0000 inset, 0 0 10px 5px #ff0000;
}

#set {
  outline: none;
  border: none;
  height: 30px;
  width: 140px;
  font-family: 'Press Start 2P', cursive;
  box-shadow:0 0 40px 40px #ff0000 inset, 0 0 0 0 #ff0000;
  transition: all 250ms ease-in-out;
}

#set:hover {
  box-shadow: 0 0 10px 0 #ff0000 inset, 0 0 10px 5px #ff0000;
}

#search {
  outline: none;
  border: none;
  height: 30px;
  width: 140px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  box-shadow:0 0 40px 40px #ff0000 inset, 0 0 0 0 #ff0000;
  transition: all 250ms ease-in-out;
}

#search:hover {
  box-shadow: 0 0 10px 0 #ff0000 inset, 0 0 10px 5px #ff0000;
}

::placeholder {
  color: black;
}

:-ms-input-placeholder {
  color: black;
}

::-ms-input-placeholder {
  color: black;
}

input:focus::placeholder {
  color: transparent;
}

#submit {
  outline: none;
  border: none;
  height: 30px;
  width: 140px;
  font-family: 'Press Start 2P', cursive;
  box-shadow:0 0 40px 40px #ff0000 inset, 0 0 0 0 #ff0000;
  transition: all 250ms ease-in-out;
}

#submit:hover {
  box-shadow: 0 0 10px 0 #ff0000 inset, 0 0 10px 5px #ff0000;
}

#setList {
  outline: none;
  border:none;
  height: 30px;
  width: 140px;
  font-family: 'Press Start 2P', cursive;
  font-size: 12px;
  background-color: red;
}

.cardDetails {
  background-color: rgb(228, 198, 172);
  width: 35vw;
  padding: 10px;
  border: 6px ridge rgb(165, 78, 78);
  font-family: 'Space Mono', monospace;
  font-size: 14px;
}

.cardDetails .link {
  width: 125px;
  height: auto;
}

.cardDetails img{
  width: 25px;
  height: 25px;
}

.weaknesses {
  display: flex;
  flex: 100px;
  height: 50px;
  align-items: center;
}

.resist {
  display: flex;
  flex: 100px;
  height: 50px;
  align-items: center;
}

.setSymbol {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 800px) {
  nav {
    width: 100vw;
    height: 6vh;
    position: sticky;
      top: 15vh;
  }

  header{
    height: 15vh;
    position: sticky;
      top: 0;
    width: 100vw;
  }
  
  body{
    display: grid;
    grid-template-rows: 15vh 6vh auto;
    grid-template-columns: 100vw;
    /* flex-wrap: wrap; */
  }

  form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 6vh;
  }

  main {
    font-size: 10px;
    grid-column: 1/ span 2;
    min-height: 79vh;
    background-color: white;
    background-image: none;
  }
  #pokemon {
    height: 6vh;
    width: 25vw;
    font-family: 'Noto Serif', serif;
    font-size:12px;
  }
  
  #set {
    height: 6vh;
    width: 25vw;
    font-family: 'Noto Serif', serif;
  }
  
  #search {
    height: 6vh;
    width: 25vw;
    font-family: 'Noto Serif', serif;
    text-align: center;
  }
  
  #submit {
    height: 6vh;
    width: 25vw;
    font-family: 'Noto Serif', serif;
  }
  
  #setList {
    height: 6vh;
    width: 25vw;
    font-family: 'Noto Serif', serif;
    font-size: 11px;
  }

  .cardDetails{
    border:none;
    background:none;
    font-family: 'Poppins', sans-serif;
    width: 50vw;
  }
}